<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<body>

	<form action ="#" th:action ="@{/createGameForm}" th:object ="${game}" method ="post">
	
		<p>Name: <input type ="text" th:field ="*{name}" required  = "required"/></p>
		
		<p>Type: <input type ="text" th:field ="*{type}" required  = "required"/></p>	
		
		<input type ="submit" value ="next" />
		
	</form>
		
</body>
</html>




		<!-- <div th:each="q : ${questions}" th:object="${questions}">
        	 <input type = "text" th:field="*{q.question}"></input>
		</div> -->