<!DOCTYPE html>
<html xmlns:th ="http//www.thymeleaf.org">
<head>
	 <!-- Bootstrap Core CSS -->
    <link th:href = "@{css/bootstrap.min.css}" href="css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link th:href = "@{css/formstyle.css}" href="css/formstyle.css" rel="stylesheet"/>

</head>
<body>
	<div class = "container">
		<div id = "contact">
			<h2>Student Profile</h2>
		<table>
			<tr>
				<th>Name: </th>
				<td><span th:text ="${student.name}" ></span></td>
			</tr>
			<tr>
				<th>Username: </th>
				<td><span th:text ="${student.username}" ></span></td>
			</tr>
			<tr>
				<th>Gender: </th>
				<td><span th:text ="${student.gender}" ></span></td>
			</tr>
			<tr>
				<th>Email: </th>
				<td><span th:text ="${student.email}" ></span></td>
			</tr>
			<tr>
				<th>Password: </th>
				<td><span th:text ="${student.password}" ></span></td>
			</tr>		
			<tr>
				<th>Photo: </th>
				<td>
					<img th:src ="@{'/images/'+${student.pic}}" />
				</td>
			</tr>
		</table>
		</div>
	</div>
		
</body>
</html>

