<!DOCTYPE html>
<html xmlns:th ="http//www.thymeleaf.org">
<head>
	<!-- we didnt style it yet! -->
	<!-- <link href ="@{/CSS/style.css}" rel ="stylesheet" type ="text/css"/> -->
</head>
<body>
	
	<h4>Teacher Profile</h4>
	
	<table>
		<tr>
			<th>Name: </th>
			<td><span th:text ="${teacher.name}" ></span></td>
		</tr>
		<tr>
			<th>Username: </th>
			<td><span th:text ="${teacher.username}" ></span></td>
		</tr>
		<tr>
			<th>Gender: </th>
			<td><span th:text ="${teacher.gender}" ></span></td>
		</tr>
		<tr>
			<th>Email: </th>
			<td><span th:text ="${teacher.email}" ></span></td>
		</tr>
		<tr>
			<th>Password: </th>
			<td><span th:text ="${teacher.password}" ></span></td>
		</tr>		
		<tr>
			<th>Photo: </th>
			<td>
				<img th:src ="@{'/images/'+${teacher.pic}}" />
			</td>
		</tr>
	</table>
		
</body>
</html>

